
.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 200px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  justify-content: space-between;
}

.green-border {
  border: 2px solid forestgreen;
}

.blue-border {
  border: 2px solid cornflowerblue;
}

.selected-border {
  border: 3px solid #fccd47;
}

.card-img {
  max-width: 90%;
  height: auto;
}

.card-name {
  margin-bottom: 10px;
}
